<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">LISTA DE EVENTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Imagen centrada y ajustada -->
  <div class="image-container">
    <img src="assets/images/Boleta1.png" alt="Boletas">
  </div>
  <!-- Botones para diferentes tipos de eventos -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-button expand="block" (click)="irADeportes()" shape="round" class="category-button">
          <ion-icon name="football"></ion-icon>
          <ion-label>Deportes</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-button expand="block" (click)="irAConciertos()" shape="round" class="category-button">
          <ion-icon name="musical-notes"></ion-icon>
          <ion-label>Conciertos</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-button expand="block" (click)="irATeatroCine()" shape="round" class="category-button">
          <ion-icon name="film"></ion-icon>
          <ion-label>Teatro-Cine</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-button expand="block" (click)="irAViajes()" shape="round" class="category-button">
          <ion-icon name="airplane"></ion-icon>
          <ion-label>Viajes</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-title>¡Explora y descubre más eventos!</ion-title>
    </ion-toolbar>
  </ion-footer>
