.title {
    font-size: 24px; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    color: white; /* Color del texto */
    text-align: center; /* Alineación del texto */
    padding: 16px 0; /* Espaciado interno */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
  }


  .menu-content {
    background-color: #f0f0f0; /* Color de fondo */
  }
  
  .menu-item {
    color: #031164; /* Color de texto */
  }
  