<ion-split-pane contentId="content">
  <ion-menu contentId="content" side="end">    
    <ion-header>
      <ion-toolbar color="primary"> <!-- Color de fondo de la barra de navegación -->
        <ion-title class="title">MENU</ion-title> <!-- Aplicación de estilos al título -->
        <ion-buttons slot="start">
          <ion-button icon-only (click)="closeMenu()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content> 
      <ion-list>
        <ion-item>
          Home
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
          Cerra Sesion
        </ion-item>
      </ion-list>     
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>    