.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.main-content {
  text-align: center;
  padding: 20px;
}

.main-image {
  max-width: 100%;
  margin-bottom: 20px;
}

.main-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.main-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.main-button {
  --background: #ff6600;
  --color: #fff;
}

ion-content.content {
  --background: #f4f4f4; /* Color de fondo del contenido */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide ion-card {
  width: 80%;
  max-width: 400px;
}

.swiper-slide ion-img {
  width: 100%;
  height: auto;
}


.title {
  font-size: 24px; /* Tamaño de la fuente */
  font-weight: bold; /* Peso de la fuente */
  color: white; /* Color del texto */
  text-align: center; /* Alineación del texto */
  padding: 16px 0; /* Espaciado interno */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
}

.content {
  padding: 20px;
}

.category-list {
  padding-top: 20px;
}

.category-container {
  border: 1px solid #ccc; /* Borde alrededor del contenedor */
  padding: 10px; /* Espaciado interno */
  margin-top: 20px; /* Margen superior */
}

.category-title {
  color: blue;
  font-size: 20px; /* Tamaño de fuente del título */
  font-weight: bold;
  margin-bottom: 10px; /* Margen inferior */
}

.category-item-container {
  border-bottom: 1px solid #eee; /* Borde inferior entre elementos */
  padding: 10px 0; /* Espaciado interno arriba y abajo */
}

.category-item {
  font-size: 18px; /* Tamaño de fuente de los elementos */
}
