<ion-content [fullscreen]="true" class="container">
    <div class="main-content">
      <img src="https://img.freepik.com/foto-gratis/gente-diversa-alegre-sosteniendo-iconos-musica_53876-65661.jpg?w=740&t=st=1706058321~exp=1706058921~hmac=959254637dd9ed8fb07c909079f052979a4e61198ecb7523efc7ee5cd41ce4af" alt="Imagen Llamativa" class="main-image">
      <h1 class="main-title">Bienvenido a nuestra Plataforma de Boletas</h1>
      <p class="main-description">
        Descubre y adquiere boletas para una variedad de eventos emocionantes. Desde conciertos vibrantes hasta emocionantes partidos de fútbol, tenemos todo para ti.
      </p>
        <ion-button (click)="goToIntro()" expand="full" class="main-button">Ingresar</ion-button>
    </div>
  </ion-content>
  