<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">EVENTOSAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <swiper-container [pagination]="true">
    <swiper-slider *ngFor="let slide of event_list">
      <ion-card class="slide">
        <ion-img [src]="slide.image"></ion-img>
      </ion-card>
    </swiper-slider>
  </swiper-container>

  <!-- Contenedor para las categorías -->
  <div class="category-container">
    <h2 class="category-title">Categorías</h2>
    <ion-list class="category-list">
      <!-- Organizar las categorías en filas y columnas -->
      <ion-row>
        <ion-col size="6" *ngFor="let category of categories">
          <ion-item class="category-item">
            {{ category.name }}
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
</ion-content>
<!-- Pie de página -->
<ion-footer class="footer">
  <ion-toolbar color="primary">
    <ion-title class="footer-text">© 2024 EventosApp</ion-title>
  </ion-toolbar>
</ion-footer>
